name: PDF
on:
  pull_request:
    paths:
      - .github/workflows/pdf.yml # self
      - docs/*
      - pdf-configs/*
      - yarn.lock
  push:
    tags:
    - 'v*'
concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Get node version from Dockerfile
        id: node-version
        run: |
          echo "node-version=$(head -1 Dockerfile | sed 's/FROM node://g')" >> $GITHUB_OUTPUT
      - uses: actions/setup-node@v6
        with:
          node-version: '${{steps.node-version.outputs.node-version}}'
          cache: yarn
      - run: npm install
      - name: build pdf
        run: |
          npm run build:pdf
          mv docs/README.pdf docs/resume.pdf
      - uses: actions/upload-artifact@v5
        with:
          name: resume
          path: ./docs/resume.pdf
          if-no-files-found: error
          retention-days: 7
  release:
    name: Release
    needs: build
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v7
        with:
          name: resume
          path: docs
      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          name: Release ${{ github.ref }}
          files: docs/resume.pdf
          draft: true
          prerelease: false
